<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="__ADMIN__/assets/images/favicon.png">
    <title>Matrix Template - The Ultimate Multipurpose admin template</title>
    <!-- Custom CSS -->
    <link href="__ADMIN__/assets/libs/flot/css/float-chart.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="__ADMIN__/dist/css/style.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {include file="test/common/head"/}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {include file="test/common/left"/}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
             <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">栏目管理</h4>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{:url('test/test/add')}" type="button" class="btn btn-outline-secondary" style='float:right;'>添加栏目</a></h5>
                    </div>
                    <form class="form-horizontal" action="{:url('test/test/add')}" method="post">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">栏目名称</label>
                                        <div class="col-sm-9">
                                            <input type="text" name='cate' class="form-control" id="fname" placeholder="请输入栏目名称" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">所属栏目 </label>
                                        <div class="col-sm-9">
                                            <select class="select2 form-control custom-select select2-hidden-accessible" style="width: 100%; height:36px;" data-select2-id="1" tabindex="-1" aria-hidden="true" name='fcate'>
                                                <option data-select2-id="3" value='0'>所属栏目</option>
                                                {volist name='ct' id='lm'}
                                                    <option data-select2-id="3" value='{$lm.id}'>{$lm.cate}</option>
                                                {/volist}
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="border-top">
                                    <div class="card-body" style='text-align:center'>
                                        <input type="submit" class="btn btn-primary"/>
                                        <input type="reset" class="btn btn-primary"/>
                                    </div>
                                </div>
                            </form>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {include file='../application/test/view/test/common/foot.html'/}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="__ADMIN__/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="__ADMIN__/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="__ADMIN__/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__ADMIN__/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="__ADMIN__/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="__ADMIN__/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="__ADMIN__/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="__ADMIN__/dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <!-- <script src="__ADMIN__/dist/js/pages/dashboards/dashboard1.js"></script> -->
    <!-- Charts js Files -->
    <script src="__ADMIN__/assets/libs/flot/excanvas.js"></script>
    <script src="__ADMIN__/assets/libs/flot/jquery.flot.js"></script>
    <script src="__ADMIN__/assets/libs/flot/jquery.flot.pie.js"></script>
    <script src="__ADMIN__/assets/libs/flot/jquery.flot.time.js"></script>
    <script src="__ADMIN__/assets/libs/flot/jquery.flot.stack.js"></script>
    <script src="__ADMIN__/assets/libs/flot/jquery.flot.crosshair.js"></script>
    <script src="__ADMIN__/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="__ADMIN__/dist/js/pages/chart/chart-page-init.js"></script>

</body>

</html>